@font-face {
  font-family:'MontSerrat';
  src:url(/public/fonts/MontserratAlternates-ExtraBold.ttf) format("truetype")
  }
  
  @font-face {
  font-family:'Arcade';
  src:url(/public/fonts/Market_Deco.ttf) format("truetype")
  }

  @font-face {
    font-family:'Ai';
    src:url(/public/fonts/Ben.otf) format("truetype")
  }

  @font-face {
    font-family:'goudy';
    src:url(/public/fonts/goudy.otf) format("truetype")
  }

  @font-face {
    font-family:'sloop';
    src:url(/public/fonts/sloop-scriptone.ttf) format("truetype")
  }


  @font-face {
    font-family:'fry';
    src:url(/public/fonts/BaskervilleLight.otf) format("truetype")
  }

  @font-face {
    font-family:'assistant';
    src:url(/public/fonts/Assistant1.ttf) format("truetype")
  }

  @font-face {
    font-family:'anton';
    src:url(/public/fonts/Anton.ttf) format("truetype")
  }

  
  canvas {
  width:0
  }

  .blocCadreAccueil {
    display: none;
     
    }
  
  ::-webkit-scrollbar {
  background:transparent;
  width:0
  }
  
  #Ixh5Y5je5vRh7EHlEwVvX:hover .rectModal {
  stroke:#32C267!important
  }
  
  #Ixh5Y5je5vRh7EHlEwVvX:hover .lienGit {
  fill:#32C267!important
  }
  
  .contactMe {
  font-family:Arcade
  }
  
  :root {
  --color:#fff;
  --primary-color:#2D2D2D;
  --secondary-color:#32C267
  }
  
  * {
  margin:0;
  padding:0;

  }
  
  body {
  -ms-overflow-style:none;
  background-color:#000;
  overflow:hidden;
  scrollbar-width:none
  }
  
  html {
  font-size:16px
  }
  
  #containerMatrix,#canvasMatrix,.blocModal,.blocRond,.blocDroitContact,.secondRow,#image-container,.teste {
  display:none
  }
  
  .coordonnees,#blocInformations,.reseauSociaux,#navMenu,#containerBurger,#burger,form>div,.blocInfoMob,.blocParentTitre,header,#sousHeader,.blocPhoto,.blocTitre,.blocTitre>:first-child,.blocSvg,.projets,.sousTitreProjet2,.btnForm,#sectionContact,.blocChargement1,.blocChargement2,form,.blocGaucheContact {
  display:flex
  }
  
  #image-canvas,.blocParentTitre,#sousHeader,#sectionContact,form,#burger,.rowBurger {
  position:relative
  }
  
  header,.blocTitre,.blocTitre>:first-child,.btnForm,.blocChargement1,.blocChargement2,form,.blocGaucheContact,#burger {
  align-items:center
  }
  
  .blocTitre,.blocSvg,#sectionContact,form,.blocInfoMob,#burger,#containerBurger,#navMenu,.coordonnees,.reseauSociaux {
  flex-direction:column
  }
  
  .blocParentTitre {
  height:100%;
  justify-content:center;
  width:15%
  }
  
  header {
  height:61px;
  justify-content:space-between;
  padding:0.5rem 0.6rem;
  flex-direction:column
  }
  
  #logo {
  color:var(--primary-color);
  cursor:default;
  font-family:'MontSerrat';
  font-size:2.2rem
  }
  
  #sousHeader {
  align-items:end;
  flex-direction:row;
  height:calc(100vh - 61px)
  }
  
  .rond {
  background-color:#000;
  border-radius:100%;
  height:10px;
  width:10px
  }
  
  .rond:nth-child(1) {
  animation:descende 1s linear infinite
  }
  
  .rond:nth-child(2) {
  animation:descende 1s linear infinite;
  animation-delay:.35s
  }
  
  .rond:nth-child(3) {
  animation:descende 1s linear infinite;
  animation-delay:.65s
  }
  
  @keyframes descende {
  0% {
  transform:translateY(0)
  }
  
  50% {
  transform:translateY(-2px)
  }
  
  100% {
  transform:translateY(0)
  }
  }
  
  .blocPhoto {
  height:100%;
  justify-content:end;
  order:1;
  width:85%;
  }
  
  .ancre {
  color:#000;
  cursor:pointer;
  text-decoration:none;
  transform:translate3d(0,0,0);
  transition:transform .3s linear
  }
  
  .ancre:hover {
  transform:translate3d(11%,0,0)
  }
  
  .blocTitre {
  height:100%;
  justify-content:space-between;
  left:0;
  order:1;
  position:absolute;
  width:max-content
  }
  
  .blocTitre>:first-child {
  flex-grow:1;
  margin-top:2vw
  }
  
  .blocTitre>:nth-child(2) {
  margin-bottom:2vw
  }
  
  .blocTitre>:nth-child(2)>svg {
  width:3vw
  }
  
  .hiddenProjet {
  transform:scale3d(0,0,0);
  width:0
  }
  
  .visibleProjet {
  transform:scale3d(1,1,1);
  transition:transform .7s linear;
  width:auto
  }
  
  #image-canvas {

 height: 630px;
  display:none;
    min-width: 690px;
   width: 710px;
    aspect-ratio: 1 / 1;
  }
  
  #accueil {
    height:calc(100vh - 75px)
  
  }

  #accueil>div:nth-child(2){
    display: none;
    width: 10%;
    align-items: flex-end;
   
    justify-content: flex-end;
    margin-top:auto;
  }

  #accueil>div:nth-child(1){
    display: flex;
     flex-direction: column; 
     align-items: center; 
     justify-content:space-between;
     height: 100%;
     width: 100%;
  }

  #accueil>div:nth-child(1)>div:nth-child(1){
    padding-top:2.5rem
  }

  .blocNameAccueil,.blocBtnAccueil{
    display:flex;
    align-items:center;
    gap:1rem
  }

  .blocNameAccueil > span{
    font-size: 1.3rem;
    font-family:'assistant'
  }

  .blocNameAccueil > div{
    height:2.5rem;
    width:2.5rem;
    border-radius:100%;
    background-color:#606060;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    color:white

  }

  
  .blocNameAccueil > span{
    letter-spacing: 0.5rem;
  }

  .blocCadreAccueil{
    height: 13rem!important;
    width: 2.3rem!important;
    border: 2px solid #b0b0b0;
    font-size: 1.8rem!important;
    word-wrap: break-word;
    padding: 1rem 0.5rem;
    text-align: center;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }


  .blocBtnAccueil{
    justify-content: center;
    margin-top: 1.5rem
  }

  .blocBtnAccueil > button{
    width: 6rem;
       padding: 0.3rem 0.3rem;
       background-color:#d9d9d9;
       border:2px solid #606060;
       border-radius:5px;
       font-family:'anton';
       letter-spacing:0.2rem;
       cursor:pointer
  }

  .blocArrowAccueil{
    align-self: flex-start;
    flex:1
  }

  .blocArrowAccueil > div{
    display: flex;
     align-items: center;
      justify-content: center;
      flex-direction:column;
      height:100%;
      padding:2rem 0 2rem 0.8rem

  }

  .blocArrowAccueil > div > div:nth-child(1){
    width: 2px;
     height: 100%;
      background-color: black

  }


  
  .blocArrowAccueil > div > div:nth-child(2){
    width: 0;
    height: 0;
     border-left: 10px solid transparent;
      border-right: 10px solid transparent;
       border-top: 20px solid black
  }

  .blocTitleAccueil{
  
    padding-top:0rem;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .blocTitleAccueil > h1{
    padding-left: 1rem;
     padding-bottom: 1rem
  }

  .blocTitleAccueil > h1 > span:nth-child(1){
    font-family: 'sloop';
    font-size: 3.3rem
  }

  .blocTitleAccueil > h1 > span:nth-child(3){
    font-family: 'assistant';
     font-size: 1.1rem
  }


  
  #sousAccueil {
    background-image: radial-gradient(circle at 80% 50%,#ebebeb , #989898,#7a7a7a);

  overflow:hidden;
  position:sticky;
  top:0;
  transition:transform .25s linear;
  will-change:transform
  }
  
  #arrowBottom {
  animation:descend 1.2s ease-in-out infinite;
  display:block;
  fill:var(--primary-color);
  margin:auto;
  margin-top:1rem;
  width:9.5vw;
  }


  
  @keyframes descend {
  0% {
  transform:translateY(0)
  }
  
  50% {
  transform:translateY(-10px)
  }
  
  100% {
  transform:translateY(0)
  }
  }
  
  #titreAccueil {
  color:white;
  cursor:default;
  font-size:clamp(2.4rem,13vw,4rem);
  padding-left:5vw;
  z-index: 4;
  font-family:'goudy' ;
  text-shadow:0.8px 0 black, 0 0.8px black,-0.8px 0 black, 0 -0.8px black;
  word-spacing: -0.5rem;
  }

  .spanTitre1{
    color:#959595; 
    text-shadow:2px 0 white, 0 2px white,-2px 0 white, 0 -2px white;
  }

  .spanTitre2{
    color:black;
    font-family:'Ai';
    transform: rotate(-3deg) translateY(-3px);
    display:block;
    background-color:white;
    word-spacing:0;
    padding:10px 20px;
    font-style:italic;
    font-size: 12vw
  }

  .imgTitle {
    transform: rotate(-2deg) translateY(-10px) ;
    width: 80vw

  }
  
  #sectionModal {
  margin-bottom:6rem;
  margin-top:6rem
  }
  
  .blocSvg {
  cursor:default;
  gap:1.7rem;
  padding:0 1rem
  }
  
  #sectionProjets {
  color:#fff;
  overflow:hidden
  }
  
  #titreProjet {
  cursor:default;
  font-family:'Arcade';
  font-size:9vw;
  font-weight:700;
  text-align:center
  }
  
  .projets {
  align-items:start;
  cursor:pointer;
  justify-content:space-between;
  padding:1.7rem 0
  }
  
  .stars {
  animation:opacityStars 1s linear;
  opacity:0
  }
  
  @keyframes opacityStars {
  from {
  opacity:0
  }
  
  to {
  opacity:1
  }
  }
  
  #blocProjets {
  margin:6rem 0;
  padding:0 1rem
  }
  
  .sousTitreProjet {
  width:50%;
  pointer-events: none;
  }
  
  .hoverProject {
  background-color:#fff
  }

  .canvasModel{
    transition: opacity 1s linear;
  }
  
  .projets:hover+.hoverProject {
  background-color:#32C267
  }
  
  .projets:hover {
  color:#32C267
  }
  
  .projets:hover .techno {
  border:1px solid #32C267!important
  }
  
  .sousTitreProjet2 {
  align-items:start;
  flex-wrap:wrap;
  gap:.5rem;
  justify-content:end;
  line-height:1em;
  width:50%
  }
  
  .sousTitreProjet>p {
  font-size:1.5rem;
  font-weight:700;
  line-height:2rem;
  text-transform:uppercase
  }
  
  .sousTitreProjet>span {
  color:lightslategrey;
  display:block;
  font-size:.95rem
  }
  
  .techno {
  border:.1rem solid #fff;
  border-radius:1rem;
  font-size:1.1rem;
  padding:.3rem;
  text-transform:uppercase
  }
  
  .inputContact {
  background:none;
  border:none;
  border-bottom:1px solid #fff;
  color:#fff;
  font-size:1rem;
  outline:none;
  width:40%
  }
  
  .inputContactObjet {
  width:100%!important
  }
  
  textarea {
  background:none;
  border:1px solid #fff;
  color:#fff;
  font-size:1rem;
  height:15rem;
  outline:none;
  width:100%
  }
  
  .btnForm {
  align-self:end;
  background-color:#fff;
  border:none;
  border-radius:.2rem;
  cursor:pointer;
  font-size:1.1rem;
  font-weight:700;
  height:35px;
  justify-content:center;
  width:127px
  }
  
  .btnForm:hover {
  background-color:#d3d2d2
  }

  .starVisible{
    opacity: 1;
    transition: opacity 800ms linear;
  }

  .starHidden{
    opacity: 0;
    transition: opacity 800ms linear;
  }
  
  #sectionContact {
  height:100vh;
  justify-content:space-between;
  overflow:hidden
  }
  
  .blocChargement1,.blocChargement2 {
  background-color:#fff;
  height:100%;
  width:50%
  }
  
  .letterLoad1,.letterLoad2 {
  display:block;
  font-family:MontSerrat;
  font-size:11vw;
  width:100%
  }
  
  .letterLoad1 {
  text-align:end
  }
  
  form {
  gap:2rem;
  width:70%;
  z-index:2
  }
  
  .moonMan {
  position:absolute;
  right:-20px;
  top:-2%;
  width:clamp(150px,40vw,35vw)
  }
  
  .blocGaucheContact {
  flex-grow:1;
  justify-content:center;
  margin-top:5rem
  }
  
  .blocInfoMob {
  align-items:end;
  padding:0 1rem .5rem
  }
  
  form>div {
  justify-content:space-between;
  width:100%
  }
  
  #burger {
  cursor:pointer;
  gap:.35rem;
  z-index:5
  }
  
  .rowBurger {
  background-color:#000;
  border-radius:.5rem;
  height:.27rem;
  width:2.2rem;
  z-index:5
  }
  
  #containerBurger {
  background-color:var(--secondary-color);
  clip-path:circle(0 at 100% 0);
  height:100vh;
  justify-content:space-between;
  position:fixed;
  right:0;
  top:0;
  transition:clip-path .3s linear;
  width:100%;
  z-index:4
  }
  
  .expanded {
  clip-path:circle(100%)!important
  }
  
  .ancre {
  display:inline-block;
  font-size:2rem
  }
  
  #navMenu {
  font-weight:700;
  gap:.6rem;
  margin-top:2.2rem;
  padding-left:.6rem
  }
  
  .coordonnees {
  align-self:end;
  font-size:1.2rem;
  font-weight:700
  }
  
  #blocInformations {
  justify-content:space-between;
  margin-bottom:1rem;
  padding:0 .5rem
  }
  
  .reseauSociaux {
  gap:1.2rem
  }
  
  ul {
  list-style:none
  }
  
  .reseau {
  height:2.1rem;
  width:2.1rem
  }
  
  .coordonnee {
  display:block
  }
  
  .firstRow {
  transform:rotate(45deg) translateY(0.40rem)
  }
  
  .thirdRow {
  transform:rotate(-45deg) translateY(-0.40rem)
  }
  
  .rowBurger {
  transition:transform .1s linear
  }
  
  .teste {
  -moz-transition:transform .3s ease-out;
  -webkit-transition:transform .3s ease-out;
  background-color:#000;
  border-radius:5%;
  left:0;
  padding:0.8rem;
  pointer-events:none;
  position:absolute;
  top:0;
  will-change:transform;
  transform-origin: center center;
  display: none;
  }
  
  @media only screen and (min-width: 200px) {
  .blocPhoto,.blocParentTitre {
  width:50%
  }
  }
  
  @media only screen and (min-width: 200px) and (max-width: 424.99px) {
  #containerMatrix {
  width:50%!important
  }

  .blocTitleAccueil{
  
    padding-top:5rem}

  }
  
  @media only screen and (min-width: 425px) and (max-width: 599.99px) {
  #containerMatrix {
  width:45%!important
  }

  .blocCadreAccueil {
    display: block;
     
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 767.99px) {
  #containerMatrix {
  width:50%!important
  }

  .blocCadreAccueil {
    display: block;
     
    }

  .sousTitreProjet > p {
    font-size: 1.8rem;
    margin-bottom: .5em;
  }

  #sectionProjets{
    padding: 3rem 2rem;
  }
  #titreAccueil {
  font-size:10.5vw
  }

  .spanTitre2{
    font-size: 11.5vw;
  }

  .blocSvg{
    padding:0 6rem
  }


  #accueil{
    display: flex;
    justify-content: space-between;
  }

 

  .blocTitleAccueil > h1 > span:nth-child(1) {
    font-size: 9vw;
  }

  .blocTitleAccueil > h1 > span:nth-child(3){
    font-family: 'assistant';
     font-size: 2.7vw
  }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 899.99px) {
  #titreAccueil {
  font-size:12vw
  }

  .sousTitreProjet > p {
    font-size: 2rem;
    margin-bottom: .5em;
  }
  
  #sectionProjets{
    padding: 3rem 3rem;
  }
  
  .spanTitre2{
    font-size: 12vw;
  }
  #arrowBottom {
  width:clamp(16%,5vw,22%)
  }
  
  #containerMatrix {
  width:55%!important
  }

  .blocSvg{
    padding:0 7rem
  }


  #accueil{
    display: flex;
    justify-content: space-between;
  }


  .blocCadreAccueil {
    display: block;
     
    }


  .blocTitleAccueil > h1 > span:nth-child(1) {
    font-size: 9vw;
  }

  .blocTitleAccueil > h1 > span:nth-child(3){
    font-family: 'assistant';
     font-size: 2.5vw
  }

  }
  
  @media only screen and (min-width: 900px) {
  #image-container {
  display:flex;
  align-items:end;
  justify-content: center;
  width:100%;
  height:100%;
  overflow: hidden;
}


.sousTitreProjet > p {
  font-size: 2.3rem;
  margin-bottom: .5em;
}

#sectionProjets{
  padding: 3rem 6rem;
}
  .blocSvg{
    padding:0 9rem
  }

 
  .blocTitleAccueil > h1 > span:nth-child(1) {
    font-size: 9vw;
  }

  .blocTitleAccueil > h1 > span:nth-child(3){
    font-family: 'assistant';
     font-size: 2.5vw
  }
  
  }
  
  @media only screen and (min-width: 900px) and (max-width: 1024.99px) {
  #titreAccueil {
  font-size:6.8vw;
  word-spacing: -10px;
  }

  .spanTitre2{
    font-size: 6.8vw;
  }
  
  #containerMatrix {
  width:28%!important
  }
  
  #arrowBottom {
  width:clamp(16%,5vw,22%)
  }
  
  #image-canvas {
  /*width:clamp(750px,100%,100%)!important;*/
  display:block;

  }

  .imgTitle {
    
    width: 42vw

  }



  #accueil{
    display: flex;
    justify-content: space-between;
  }


  .blocCadreAccueil {
    display: block;
     
    }



  }
  
  @media only screen and (max-width: 926.99px) and (orientation: landscape) and (max-height:428px) {
  #titreAccueil {
  font-size:3.5rem
  }
  .imgTitle {
    
    width: 42vw

  }

  .blocTitleAccueil > h1 > span:nth-child(1) {
    font-size: 7vw;
  }

  .blocBtnAccueil {
   
    margin-top: 1rem;
  }

  .blocArrowAccueil {
    display: none;
  }

  .blocCadreAccueil{
    display: none;
  }

  #accueil {
    height: calc(100vh - 60px);
  }
  #accueil > div:nth-child(1) > div:nth-child(1) {
    padding-top: 1.5rem;
  }
  .spanTitre2{
    font-size: 3.7rem;
  }
  
  #arrowBottom {
  width:4.5vw
  }
  
  .textContact {
  font-size:1.5vw
  }
  
  .moonMan {
  right:-23px;
  top:-20px;
  width:clamp(10vw,13vw,30vw)
  }
  
  #sectionContact {
  flex-direction:row
  }
  
  .blocDroitContact {
  align-self:center;
  display:flex;
  justify-content:center;
  width:50%
  }
  
  .blocGaucheContact {
  width:50%;
  margin-top:1rem
  }
  
  .blocInfoMob {
  display:none
  }
  
  #blocProjets {
  padding:0 4vw
  }
  
  #titreContact {
  padding:0 7vw
  }
  
  .sousTitreProjet>p {
  font-size:4vw;
  margin-bottom:.5em
  }
  
  .sousTitreProjet>span {
  font-size:1em
  }
  
  header {
  padding:0 1rem
  }
  
  .blocSvg {
  padding:0 25%
  }
  
  .btnForm {
  height:30px;
  width:100px;
  font-size:1rem
  }
  
  textarea {
  height:10rem
  }
  
  #titreProjet {
  margin-left:2.4rem;
  text-align:left;
  font-size:4.5rem
  }

  .ancre{
    font-size: 1.5rem;
  }

  .coordonnees{
    font-size: 1rem;
  }
  }
  
  @media only screen and (min-width: 1025px) {

    #accueil{
      display: flex;
      justify-content: space-between;
    }
  
    #accueil>div:nth-child(1){
  
      width: 50%;
   
    }
  
    #accueil>div:nth-child(2){
      display: flex;
      width: 50%;
    
   
    }
  
  
    .blocCadreAccueil {
    display: none;
     
    }

    .blocBtnAccueil > button{
      font-size: 1.4rem;
      width: 9rem;
      text-align: center;
    }

    .blocBtnAccueil{
      gap:1.8rem
    }

    .blocTitleAccueil{
  
      padding-top:5rem}

    .blocNameAccueil > span{
      font-size: 1.3rem;
    }

    .blocTitleAccueil > h1 > span:nth-child(1) {
      font-size: 7vw;
    }

    .blocTitleAccueil > h1 > span:nth-child(3) {
      font-size: 2vw;
    }


    .blocTitleAccueil > h1 {
      padding-left: 2rem;
    }

  #titreAccueil {
  padding-left:4rem
  }
  
  #image-canvas {
  display:block;
  /*min-width: 500px;
  min-height: 100%*/
  }
  
  .blocDroitContact,.blocGaucheContact {
  align-items:center;
  display:flex;
  justify-content:center;
  width:50%
  }
  
  .moonMan {
  right:-40px;
  top:-35px;
  width:36vh!important
  }
  
  #sectionContact {
  flex-direction:row
  }
  
  .blocInfoMob {
  display:none
  }
  
  .blocModal {
  align-items:center;
  display:flex;
  height:100vh;
  position:sticky;
  top:0;
  width:50%;

  justify-content: center;
  }
  
  .blocSvg {
  padding-left:14%;
  width:36%
  }
  
  #sectionModal {
  display:flex;
  position:relative
  }
  
  #titreProjet {
  margin-left:1.2rem;
  text-align:left
  }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1439.99px) {


    #accueil{
      display: flex;
      justify-content: space-between;
    }
  
    #accueil>div:nth-child(1){
  
      width: 50%;
   
    }
  
    #accueil>div:nth-child(2){
      display: flex;
      width: 50%;
      justify-content: flex-end;
    }
  
  
    .blocCadreAccueil {
      width: 5%;
      
    }

    .imgTitle {
    
      width: 42vw
  
    }
 
      #titreAccueil {
        font-size:6.7vw;
        word-spacing: -20px;
        }
      
        .spanTitre2{
          font-size: 6.7vw;
        }
        
  
  #containerMatrix {
  width:28%!important
  }
  
  #titreProjet {
  font-size:6rem;
  margin-left:1.2rem;
  text-align:left
  }
  
  #arrowBottom {
  width:clamp(16%,3.5vw,22%)
  }
  
  #sectionModal {
  margin-top:13rem
  }
  
  #sectionProjets {
  padding:3rem 8rem;
  
  }
  
  #blocProjets {
  margin:10rem 0
  }
  
  .projets {
  padding:2.5rem 0
  }
  
  .sousTitreProjet>p {
  font-size:3.7vw;
  margin-bottom:.5em
  }
  
  .sousTitreProjet>span {
  font-size:1em
  }
  
  #image-canvas {
   /* width:clamp(750px,100%,100%)!important;*/
  }
  }
  
  @media only screen and (min-width: 1440px) {
  #titreProjet {
  font-size:7rem
  }

  .imgTitle {
    
    width: 42vw

  }

  
  #containerMatrix {
  width:28%
  }
  
  #arrowBottom {
  width:18%
  }
  
  #titreAccueil {
  font-size:6.8vw;
  word-spacing: -20px;
  }

  .spanTitre2{
    font-size: 6.8vw;
  }
  
  #sectionProjets {
  padding:3rem 10rem
  }
  
  #blocProjets {
  margin:10rem 0
  }
  
  .projets {
  padding:2.5rem 0
  }
  
  .sousTitreProjet>p {
  font-size:3.7vw;
  margin-bottom:.5em
  }
  
  .sousTitreProjet>span {
  font-size:1em
  }
  
  #image-canvas {
   /* width:clamp(750px,100%,100%)!important;*/
  }
  
  textarea {
  height:23rem
  }
  
  #titreContact {
  padding-left:18rem
  }
  }
  
  path {
  stroke-width:0
  }
  
  .strokeContact {
  stroke-width:20
  }
  
  .poli1 {
  animation:revealText1 .5s linear forwards;
  animation-delay:.3s;
  transform:translate3d(0,0,0) scale3d(1,1,1);
  transform-origin:right
  }
  
  @keyframes revealText1 {
  to {
  transform:translate3d(-53px,0,0) scale3d(0,1,1)
  }
  }
  
  .poli2 {
  animation:revealText2 .5s linear forwards;
  transform:translate3d(0,0,0) scale3d(1,1,1);
  transform-origin:bottom
  }
  
  @keyframes revealText2 {
  to {
  transform:translate3d(0,-40px,0) scale3d(1,0,1)
  }
  }
  
  .poli3 {
  animation:revealText3 .5s linear forwards;
  animation-delay:.4s;
  transform:translate3d(0,0,0) scale3d(1,1,1);
  transform-origin:right
  }
  
  @keyframes revealText3 {
  to {
  transform:translate3d(-40px,0,0) scale3d(0,1,1)
  }
  }
  
  .poli4 {
  opacity:0;
  transition:opacity 1s linear;
  transition-delay:.4s
  }
  
  .poli5 {
  animation:revealText5 .6s .4s linear forwards;
  transform:translate3d(0,0,0) scale3d(1,1,1);
  transform-origin:bottom
  }
  
  @keyframes revealText5 {
  to {
  transform:translate3d(0,-200px,0) scale3d(1,0,1)
  }
  }
  
  .poli6 {
  animation:revealText6 .6s linear forwards;
  transform:scale3d(1,1,1);
  transform-origin:right
  }
  
  @keyframes revealText6 {
  70% {
  transform:scale3d(0.1,1,1)
  }
  
  100% {
  transform:scale3d(0.1,0,1)
  }
  }
  
  .poli7 {
  animation:revealText7 .6s linear forwards;
  transform:scale3d(1,1,1);
  transform-origin:left
  }
  
  @keyframes revealText7 {
  to {
  transform:scale3d(0,1,1)
  }
  }
  
  .poli8 {
  animation:revealText8 .6s linear forwards;
  transform:scale3d(1,1,1);
  transform-origin:top left
  }
  
  @keyframes revealText8 {
  70% {
  transform:scale3d(1,0.1,1)
  }
  
  100% {
  transform:scale3d(0,0.1,0)
  }
  }
  
  .poli9 {
  animation:revealText9 .6s linear forwards;
  transform:scale3d(1,1,1);
  transform-origin:right
  }
  
  @keyframes revealText9 {
  70% {
  transform:scale3d(0.1,1,1)
  }
  
  100% {
  transform:scale3d(0.1,0,1)
  }
  }
  
  .poli10 {
  animation:revealText10 .6s linear forwards;
  transform:scale3d(1,1,1);
  transform-origin:left
  }
  
  @keyframes revealText10 {
  70% {
  transform:scale3d(0.1,1,1)
  }
  
  100% {
  transform:scale3d(0.1,0,1)
  }
  }
  
  .poli11 {
  animation:revealText11 .6s linear forwards;
  transform:scale3d(1,1,1);
  transform-origin:top
  }
  
  @keyframes revealText11 {
  70% {
  transform:scale3d(1,0.5,1)
  }
  
  100% {
  transform:scale3d(0,0.5,1)
  }
  }
  
  .poli12 {
  animation:revealText12 .6s linear forwards;
  transform:scale3d(1,1,1);
  transform-origin:bottom
  }
  
  @keyframes revealText12 {
  70% {
  transform:scale3d(1,0.5,1)
  }
  
  100% {
  transform:scale3d(0,0.5,1)
  }
  }
  
  #containerMatrix {
  display:block;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  z-index:3
  }
  
  #canvasMatrix {
  background-color:transparent;
  display:block;
  height:100%;
  position:relative;
  width:100%
  }
  
  .blocSuccess {
  background-color:#fff;
  border-radius:.5rem;
  bottom:0;
  font-size:1.3rem;
  font-weight:700;
  left:3%;
  padding:1.5rem 2rem;
  position:absolute;
  transform:translateY(80px)
  }
  
  @media only screen and (max-width: 428px) {
  .blocSuccess {
  font-size:1rem;
  left:0;
  margin:auto;
  right:0;
  text-align:center;
  transform:translateY(100px);
  width:60%
  }
  }